body{
     margin: 0;
     height: 100vh;
     display: flex;
     background: linear-gradient(135deg, #565a61, #7f8ba1, #9fb1d4);
     animation: backgroundShift 10s infinite alternate;
}

h1{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}